body {
    background-color: brown;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button{
    background-color: coral;
    color: white;
    font-family: "Nunito Sans", sans-serif;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
}